#tips{
   
        font-family: 'Sacramento', cursive;
        font-size:30px;
        padding:20px;
}
body{
background-image: linear-gradient(  #212121,#2D033B);
  color:white;
  text-align:center;
}